body{
	background: #ffd700;
	margin: auto;
	max-width: 1000px;
}

.top{
	background: #1e90ff;
	border: 3px solid #acacac;
	margin: 20px 0px;
	text-align: center;
	color: #4b0082;
}

.menu,
.footer{
	background: #228b22;
	text-align: center;
	border: 3px solid #acacac;
}

.kim-jestem{
	margin: 0px 15px;
}

a{
	color: #6b1b1d;
	font-size: 18px;
}

.image-1{
	text-align: left;
}

.image-2{
	text-align: right;
}